
  <nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h2>Restaurant Record App</h2>
      <div class="d-flex">
        <!-- <a class="btn btn-dark mx-3" routerLink="/Dashboard" routerLinkActive="active">Dashboard</a> -->
         <!-- <a class="btn btn-dark mx-3" routerLink="/registration" routerLinkActive="active">Register</a> -->
      <!-- <a class="btn btn-dark mx-3" routerLink="/login" routerLinkActive="active">Login</a> -->
     <!-- <a class="btn btn-danger mx-3"  (click)="logout()" routerLinkActive="active">Logout</a>  -->
       </div>
      </div>
  </nav>
  