  <!-- main app container -->
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card m-3" id="user">
      <h5 class="card-header">Registration Form</h5>
      <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="row">
                 
                  <div class="col mb-3">
                      <label class="form-label">Name</label>
                      <input type="text" formControlName="name" placeholder="Enter your name"  class="form-control"
                       [ngClass]="name"  (keydown)="alphaOnly($event)" (blur)="removeErrorMsg('name')"/>
                      <!-- ?<div *ngIf="submitted && f['name'].errors" class="invalid-feedback"    > -->
                          <div class="text-danger" *ngIf="nameValidateMessage == 'lengthError'">
                              Invalid  name
                          </div>
                          <div class="text-danger" *ngIf="nameValidateMessage == 'required'">
                               Name is mandatory
                          </div>
                      <!-- </div> -->
                  </div> 
              </div>
                  <div class="col mb-3">
                      <label class="form-label">Mobile</label>
                      <input type="text" formControlName="mobile" placeholder="Enter your mobile no." class="form-control" minlength="10" maxlength="10" pattern="[6789][0-9]{9}"
                       [ngClass]="mobile" (keydown.space)="$event.preventDefault();"  (keypress)="numbersOnly($event)" (blur)="removeErrorMsg('mobile')" />
                      <!-- <div *ngIf="submitted && f['mobile'].errors" class="invalid-feedback"> -->
                          <div class="text-danger" *ngIf="mobileValidateMessage == 'lengthError'">
                              10 digit mobile number is mandatory
                          </div>
                          <div class="text-danger" *ngIf="mobileValidateMessage == 'invalid'">
                              Invalid mobile number
                          </div>
                          <div class="text-danger" *ngIf="mobileValidateMessage == 'required'">
                              Mobile number is mandatory
                          </div>
                      </div>
                  <!-- </div> -->
                 
            
             
                  <div class="col mb-3">
                      <label class="form-label">Email</label>
                      <input type="text" formControlName="email" class="form-control" placeholder="Enter your email address"
                      [ngClass]="email"  (keydown.space)="$event.preventDefault();"  maxlength="50"  (blur)="removeErrorMsg('email')"/>
                      <!-- <div *ngIf="submitted && f['email'].errors" class="invalid-feedback"> -->
                          <div class="text-danger" *ngIf="emailValidateMessage == 'invalid'">
                              Invalid email id
                          </div>
                          <div class="text-danger" *ngIf="emailValidateMessage == 'required'">
                              Email id is mandatory
                          <!-- </div> -->
                      </div>
                  </div>
                  <div class="col mb-3">
                      <label class="form-label">Password</label>
                      <input type="password" formControlName="password" class="form-control" placeholder="Enter your password"
                      [ngClass]="{ 'is-invalid': submitted && register['password'].errors }" (keydown.space)="$event.preventDefault();"/>
                      <div *ngIf="submitted && register['password'].errors" class="invalid-feedback">
                          <div *ngIf="register['password'].errors['required']">Password is required</div>
                          <!-- <div *ngIf="f['password'].errors['pattern']">Minimum eight characters, at least one uppercase letter, one lowercase letter and one number</div> -->
                          <div *ngIf="register['password'].errors['minlength']">Password must be at least 8 characters</div>
                      </div>
                  </div>
                  <div class="col mb-3">
                      <label class="form-label">Confirm Password</label>
                      <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Enter your password again"
                       [ngClass]="{ 'is-invalid': submitted && register['confirmPassword'].errors }" (keydown.space)="$event.preventDefault();"/>
                      <div *ngIf="submitted && register['confirmPassword'].errors" class="invalid-feedback">
                          <div *ngIf="register['confirmPassword'].errors['required']">Confirm Password is required</div>
                          <div *ngIf="register['confirmPassword'].errors['mustMatch']">Passwords must match</div>
                      </div>
                  </div>
            
          
              <div class="form-check mb-3">
                  <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && register['acceptTerms'].errors }" />
                  <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                  <div *ngIf="submitted && register['acceptTerms'].errors" class="invalid-feedback">Accept Ts & Cs is required</div>
              </div>
              <div class="text-center">
                  <button type="submit" class="btn btn-primary me-2">Register</button>
                  <p><a class="nav-link active" [routerLink]="['/login']" style="color: green;">Click here For Login</a> </p>
              </div>
          </form>
      </div>
  </div>
  </div>
  
  <!-- credits -->
  
    